<main class="app-main" [class]="darkMode ? 'dark-theme' : ''">
  
    <mat-toolbar>
        <span class="logotipo"><strong><a routerLink="/" mat-button>Pink Floyd</a></strong></span>
        <button (click)="sidenav.toggle()" fxHide fxHide.sm="false" fxHide.xs="false" mat-icon-button aria-label="Ícono de menú">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxHide.lg="false" fxHide.md="false" fxHide.sm="true" fxHide.xs="true">
            <a routerLink="/pulse" mat-button>PULSE</a>
            <a routerLink="/the-wall" mat-button>The Wall</a>
            <a routerLink="/the-dark-side-of-the-moon" mat-button>The Dark Side</a>
        </div>

        <span class="spacer-navbar"></span>

        <mat-slide-toggle (click)="toggleDarkMode()" name="darkMode" color="primary">Dark mode</mat-slide-toggle>

    </mat-toolbar>

    <mat-drawer-container (click)="sidenav.close()" [hasBackdrop]="'true'">
    
        <mat-drawer #sidenav [mode]="'over'" fxHide fxHide.sm="false" fxHide.xs="false">
            <div class="sidenav-mobile" fxFlex="100%" fxLayout="column" fxLayoutAlign="start stretch">
                <a (click)="sidenav.toggle()" routerLink="/pulse" mat-button>Pulse</a>
                <a (click)="sidenav.toggle()" routerLink="/the-wall" mat-button>The Wall</a>
                <a (click)="sidenav.toggle()" routerLink="/the-dark-side-of-the-moon" mat-button>The Dark Side</a>
            </div>
            <button (click)="sidenav.toggle()" mat-icon-button aria-label="Ícono de configuración">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-drawer>
        
        <router-outlet></router-outlet>

    </mat-drawer-container>

</main>
