<main>
  
  <mat-toolbar>
      <span><strong>Pink Floyd</strong></span>
      <button fxHide fxHide.sm="false" fxHide.xs="false" mat-icon-button aria-label="Ícono de menú">
          <mat-icon>menu</mat-icon>
      </button>
      <div fxHide.lg="false" fxHide.md="false" fxHide.sm="true" fxHide.xs="true">
          <a routerLink="/pulse" mat-button routerLinkActive="active">Pulse</a>
          <a routerLink="/the-wall" mat-button routerLinkActive="active">The Wall</a>
          <a routerLink="/the-dark-side-of-the-moon" mat-button routerLinkActive="active">The Dark Side</a>
      </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

</main>
