<div class="Pulse" fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center start">

    <div fxFlex.gt-sm="45%" fxFlex.gt-xs="100%" fxFlex="100%" fxLayout="column">
        <app-cd-picture
            [image]="'../../assets/images/the-wall.jpeg'"
        ></app-cd-picture>
    </div>
    <div fxFlex.gt-sm="45%" fxFlex.gt-xs="100%" fxFlex="100%" fxLayout="column">
        <app-cd-content
            [title]="'The Wall'"
            [content]="content"
        ></app-cd-content>
    </div>

</div>
