@import '~@angular/material/theming';

@include mat-core();

$angular-ssr-primary: mat-palette($mat-indigo);
$angular-ssr-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-ssr-warn: mat-palette($mat-red);
$angular-ssr-theme: mat-light-theme((
  color: (
    primary: $angular-ssr-primary,
    accent: $angular-ssr-accent,
    warn: $angular-ssr-warn,
  )
));

@include angular-material-theme($angular-ssr-theme);


$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-theme {
  @include angular-material-color($dark-theme);
}


/* Global Styles */

html, body {
  height: 100%;
}
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
